body{
    height: 100dvh;
    width: 99vw;
    margin: auto;
}
h1{
    margin: auto;
    text-align: center;
}
div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
input{
    width: 40px;
    padding: 5px;
    border-radius: 5px;
}