* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
    background-color: rgb(50, 48, 48);
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conatiner{
    height: 300px;
    background-color: rgb(68, 65, 65);
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.time-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: aquamarine;
    text-shadow: 1px 1px 2px rgb(13, 219, 137);
    font-size: xx-large;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
button{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    background: rgb(7, 49, 198);
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 80%;
    border-radius: 10px;
    background: rgb(50, 48, 48, 0.5);
    font-size: larger;
    color: aquamarine;
    text-shadow: 1px 1px 2px rgb(13, 219, 137);
    padding: 5px;
}
h1{
    color: aquamarine;
    text-shadow: 1px 1px 2px rgb(13, 219, 137);
}